In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Assignment Operators

In [2]:
# =

a = 5
b=0

In [2]:
# +=
a = 5
a+=2 # => a = a+2 => 5+2 = 7
print(a)
a+=10 # => a = 17
print(a)

7
17

In [6]:
b = 3
b+=10
b

13

In [3]:
# -=
a-=10 # a = a-10
print(a)

7

In [4]:
a = 2
a*=5 # a = a*5
print(a)

10

In [16]:
a/=2 # a = a/2
print(a)

0.00244140625

In [20]:
a = 10
a//=3 # a = a//3
print(a)

3

In [19]:
a = 10
a/=3 # a = a/3
print(a)

3.3333333333333335

In [21]:
a = 2
a**=3 # a = a**3
print(a)

8

## Comparision operators

In [33]:
a = 5
b = 3
print(a<b)
print(a>b)
print(1<=2)
print(3>=3)
print(1=="1")
print(2!=3)

False
True
True
True
False
True

## Logical Operators
- and
- or
- not

a  b  and  or  not(b)
0  0  0    0    1
0  1  0    1    0
1  0  0    1    1
1  1  1    1    0

In [39]:
ac = 12
dc = 79
ac>50 or dc>50

True

In [46]:
dc>90 or not ac>90

True

## Bitwise operators

In [51]:
print(2 & 3)
print(2 | 3) # 10 or 11 => 11

2
3

15 | 10
15 & 10

1111
1010
1010 => 10

1111
1010
1111 => 15

xor
0 0 0
0 1 1
1 0 1
1 1 0

In [54]:
a = 3
b = 5
a ^ b

6

In [55]:
a = 2
a<<3 # 2*(2**3)

16

In [56]:
a = 10
a>>1 # 10//(2**1)

5

In [57]:
a = 5
a<<3

40

In [62]:
~12

-13

In [67]:
a = 3 
b = 3
c = 10
a is b
a is not c

True

In [64]:
id(a)

8791310627136

In [65]:
id(b)

8791310627136

In [68]:
id(c)

8791310627360

In [72]:
"apc" in "apssdc"

False

In [73]:
"a" not in "apssdc"

False

In [75]:
"18a5774" in ["18a5774","19a23477","18a987"]

True

In [ ]:
arithmtic
logical
comparision
bitwise
membership
identity

int
str
float
None

## conditional statements

- if
- elif
- else

if(condition){
    statements
}
python:

if condition:
    statement1
    statement2
    statement3
    if conditioin2:
        statements
        if condition3:
            s1
            s2
            s3
else:
    statements

In [77]:
ac = 78
dc = 89
if ac>50 and dc>50:
    print("Pass")
    if ac>80:
        print("first class in AC")
    if dc>80:
        print("First class in DC")
else:
    print("Fail")

Pass
First class in DC

In [81]:
a = 90
b = 89
if a>b:
    print("a is greater number")
elif a==b:
    print("Both are equal")
else:
    print("b is greater number")

Both are equal

In [82]:
a = 89
b = 90
if a==b:
    print("equal")
else:
    if a>b:
        print(a)
    else:
        print(b)

90

In [84]:
a = input("Enter a value:")
a

Enter a value:56

'56'

In [85]:
a = int(input())
a

34

34

In [87]:
a = float(input())
a

9

9.0

In [88]:
a = 89
str(a)

'89'

In [ ]:
int()
str()
float()

In [91]:
int("asdfasdf")

ValueError: invalid literal for int() with base 10: 'asdfasdf'

In [92]:
float("4.6")

4.6

In [93]:
float("5")

5.0

In [94]:
float("sdfasd")

ValueError: could not convert string to float: 'sdfasd'

In [99]:
a = int(input())
b = int(input())
c = int(input())

if a>b and a>c:
    print(a)
elif b>c:
    print(b)
else:
    print(c)

34
45
90
90

In [ ]:
# Take Marks as input from the user. (0 to 100)
# marks>=80: A
# marks between 70 and 80 :B
# MARKS BETWEEN 60 AND 70 : C
# marks between 50 and 60 : D
# marks less than 50 : Fail

In [1]:
marks = int(input("Enter your marks (between 0 and 100)"))

if marks>=80:
    print("A Grade")
elif marks<80 and marks>=70:
    print("B Grade")
elif marks<70 and marks>=60:
    print("C Grade")
elif marks<60 and marks>=50:
    print("D Grade")
else:
    print("Fail")

Enter your marks (between 0 and 100)1
Fail

## Strings

In [2]:
s1 = "Aditya"
s2 = 'AITAM'

type(s1)

str

In [3]:
s3 = input()
type(s3)

123

str

In [6]:
print(s2)

AITAM

In [16]:
# Indexing
s = "Python Programming"
print(s[0])
print(s[1])
print(s[3])
print(s[9])
# print(s[20])
print(len(s))
print(s[len(s)-1])

P
y
h
o
18
g

In [22]:
# negative indexing
s = "Python Programming"
print(s[-1]) # last char
print(s[-2]) # second last
print(s[-6])
print(s[-len(s)]) # first char using negative index

g
n
a
P

In [25]:
s[6]

' '

## Slicing
- Syntax
    - string [ start_index : end_index : step ]
- start : 0
- end : len(string)
- default value for step is 1

In [34]:
s = "Python Programming"
# access first four characters
print(s[0:4])
# access chars from 2 to 7
print(s[1:8])
# access chars from 5 to end of string
print(s[4:len(s)])
# access entire string
print(s[:])
print(s[0:])
print(s[0:len(s)])
print(s[:len(s)])

Pyth
ython P
on Programming
Python Programming
Python Programming
Python Programming
Python Programming

In [36]:
s[0:len(s):2]

'Pto rgamn'

In [37]:
s[1:len(s):3]

'yoPgmn'

In [39]:
print(s)
s[1:7:3]

Python Programming

'yo'

In [43]:
s[5:2:-1]

'noh'

In [50]:
print(s)
print(s[-1:-5:-1])

Python Programming
gnim

In [45]:
print(s)
s[1:5:1]

Python Programming

'ytho'

In [58]:
s[::-1]

'gnimmargorP nohtyP'

In [64]:
print(s)
s[:-9:-4]

Python Programming

'gm'

In [65]:
s[2:-5:1]

'thon Progra'