### Write a program to print all the prime numbers in a given range

In [4]:
start = int(input())
end = int(input())
for i in range(start,end+1):
    facts = 0
    for j in range(1,i+1):
        if i%j==0:
            facts = facts+1
    if facts==2:
        print(i,end=" ")

100
159
101 103 107 109 113 127 131 137 139 149 151 157

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
for i in range(1,11):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

*
**
***
****
*****

In [13]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,j)
        print("*")
    print()

1 1
*

2 1
*
2 2
*

3 1
*
3 2
*
3 3
*

4 1
*
4 2
*
4 3
*
4 4
*

5 1
*
5 2
*
5 3
*
5 4
*
5 5
*

     *
    **
   ***
  ****
 *****
 15
 24 25
 33 34 35

In [31]:
for i in range(1,6):
    for j in range(1,6):
        if i+j>5:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

* * *
*   *
* * *

In [35]:
n= int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

3
* * *
*   *
* * *

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [37]:
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print(i,end=" ")
        else:
            print(" ",end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## functions
- Reusability
- syntax:
#### function definition
- def function_name(arguments):
        statements
        return result
#### function call
- function_nam(args)

In [46]:
# define a function to check a given number(n) is even or not.
# if the number is even :  add 5 to n
# else : add 10
def isEven(n):
    if n%2==0:
        return True
    else:
        return False
a = int(input())
result = isEven(a)
if result:
    print(n+5)
else:
    print(n+10)

9
19

In [51]:
# define a function to print cube of a number
def cube(n):
    print("hello")
    return n**3
    
cube(2)

hello

8

### function types

In [64]:
# function with arugements with return value
def fun(n1,n2):
    return n1+n2
a = 9
b = 8
print(fun(a,b))

17

In [54]:
# function with arguments wihout return value
def isEven(n):
    if n%2==0:
        print("even")
    else:
        print("odd")
print(isEven(7))

odd
None

In [57]:
# function without argumenst with return value

def fun3():
    n = int(input())
    if n%3==0:
        return n**2
    else:
        return n
    
fun3()

9

81

In [59]:
# function without arguments without return value

def fun4():
    n = int(input())
    if n%5==0:
        print("congratulations!")
    else:
        print("better luck next time!")
fun4()

5
congratulations!

In [68]:
def fun(a,b,*numbers):
    print(a)
    print(b)
    print(numbers)

fun(12,23,23,34,45,56,45,7,8,9)

12
23
(23, 34, 45, 56, 45, 7, 8, 9)

In [71]:
# write a function to check a string is palindrome or not
s = input()
print("Original : ",s)
print("reversed : ",s[::-1])
if s == s[::-1]:
    print("palindrome")
else:
    print("no")

aitam
Original :  aitam
reversed :  matia
no

In [73]:
def isPalindrome(s):
    if s == s[::-1]:
        print("palindrome")
    else:
        print("no")
s = input()
isPalindrome(s)

Radar
no

In [74]:
n = int(input())

rev = str(n)[::-1]
if str(n)==rev:
    print("palindrome")
else:
    print("no")

1234321
palindrome

In [ ]:
def no_of_digits(n):
    d = 0
    while n!=0:
        d = d+1
        n = n//10
    
    return d

In [9]:
n = int(input())
l = no_of_digits(n)
temp = n #1234
s = 0
power=l-1 #3
while n!=0:  # 1234
    rem = n%10 #4, 3, 2, 1 
    s = s + rem*(10**power) # 4000 + 300 + 20 + 1
    n = n//10 # 123, 12, 1, 0
    power=power-1 # 2, 1, 0, -1
print(s)
if temp == s:
    print("palindrome")
else:
    print("no")

12321
12321
palindrome

In [ ]:
# write a function to check a number is prime or not
# write a function to check a number is perfect number or not
# write a function to check a number is palindrome or not
# write a function to check a number is armstrong number or not

In [10]:
n = int(input())
d = no_of_digits(n)
temp = n
s = 0
while n!=0:
    rem = n%10
    s = s + rem**d
    n = n//10
    
if temp == s:
    print("Armstrong number")
else:
    print("Not an armstrong number")

153
Armstrong number

In [16]:
# armstrong numbers in range
for i in range(100,1001):
    d = no_of_digits(i)
    temp = i
    s = 0
    while i!=0:
        rem = i%10
        s = s + rem**d
        i = i//10

    if temp == s:
        print(temp)

153
370
371
407

### Data Structures : 
- Containers of data 
- stores data in an organised way

### types:
- list
- tuple
- dictionary
- set

### List
- we can store of data (heterogenious)
- represented by []
- ordered
- mutable -> we can change

In [25]:
x = [1,3,4,5,6]
x[0]

1

In [26]:
x[len(x)-1]

6

In [27]:
x[0:4]

[1, 3, 4, 5]

In [28]:
x[-1]

6

In [29]:
x[::-1]

[6, 5, 4, 3, 1]

In [30]:
type(x)

list

In [31]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [32]:
x1 = [1,2,3]
x2 = [4,5,6]

In [33]:
x1.append(10)

In [34]:
x1

[1, 2, 3, 10]

In [41]:
x1.append([1,2])

In [42]:
x1

[1, 2, 3, 10, [1, 2, 3], 6, 7, 8, [1, 2]]

In [43]:
x1.extend([6,7,8])

In [44]:
x1

[1, 2, 3, 10, [1, 2, 3], 6, 7, 8, [1, 2], 6, 7, 8]

In [46]:
y = x1
y

[1, 2, 3, 10, [1, 2, 3], 6, 7, 8, [1, 2], 6, 7, 8]

In [47]:
x1.clear()

In [48]:
x1

[]

In [49]:
y

[]

In [53]:
y = x2.copy()
y

[4, 5, 6]

In [54]:
x2.append(100)

In [55]:
y

[4, 5, 6]

In [57]:
y.count(6)

1

In [59]:
y.insert(1,10)

In [60]:
y

[4, 10, 5, 6]

In [61]:
y.pop()

6

In [62]:
y

[4, 10, 5]

In [63]:
y.pop(1)

10

In [65]:
y.remove(4)

In [66]:
y

[5]

In [67]:
y.remove(8)

ValueError: list.remove(x): x not in list

In [68]:
z = [4,3,8,9,67,90,23]
z.sort()

In [69]:
z

[3, 4, 8, 9, 23, 67, 90]

In [70]:
z.reverse()

In [71]:
z

[90, 67, 23, 9, 8, 4, 3]

In [72]:
n = int(input()) # no of elements
x = []

for i in range(n):
    val = int(input())
    x.append(val)
    
x

5
1
3
4
5
6

[1, 3, 4, 5, 6]

In [75]:
lis = [1,2,3,4,5]
for i in range(0,len(lis)):
    print(lis[i],end=" ")

1 2 3 4 5

In [76]:
for i in lis:
    print(i,end=" ")

1 2 3 4 5

In [77]:
s = "python"
for i in s:
    print(i)

p
y
t
h
o
n

In [ ]:
# define a function to print all the even numbers in list