## Day Objectives

- Tuples
- Dictiionaries
- Sets
- Functional Programming
- File handling

## Tuple
- Ordered collection of elements
- represented by ( )
- Immutable

In [3]:
# empty tuple

t = ()
type(t)

tuple

In [4]:
t1 = (1,2,3,4,5,"one")
t1

(1, 2, 3, 4, 5, 'one')

In [5]:
t1[0]

1

In [7]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [9]:
print(t1)
t1.count(3) # count of 3 in t1

(1, 2, 3, 4, 5, 'one')

1

In [11]:
t1.index(3) # index of 3 in t1

2

## Dictionary
- represeted with {}
- elements in dictionary are stored as (key:value) pairs
- Each (key,value) pair is called as Item
- keys are immutable and unique
- values can be anything
- key and value seperated by ":"
- ex: {k1:v1, k2:v2, k3:v3,....}
- we can access values by using keys only : dict_name[key]
- Un ordered
- Mutable

In [12]:
# empty dict
d = {}
type(d)

dict

In [13]:
d = {"college":"aitam", "program":"python","branch":"ece"}

In [14]:
d["college"]

'aitam'

In [15]:
d["program"]

'python'

In [16]:
d["branch"]

'ece'

In [17]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [18]:
d

{'college': 'aitam', 'program': 'python', 'branch': 'ece'}

In [22]:
d.keys() # return all the keys in d

dict_keys(['college', 'program', 'branch'])

In [23]:
for i in d.keys():
    print(i)

college
program
branch

In [24]:
d.values()

dict_values(['aitam', 'python', 'ece'])

In [25]:
d.items()

dict_items([('college', 'aitam'), ('program', 'python'), ('branch', 'ece')])

In [26]:
for i in d.items():
    print(i)

('college', 'aitam')
('program', 'python')
('branch', 'ece')

In [27]:
len(d)

3

In [31]:
for i in d.keys():
    print("key: ",i,"value: ",d[i])

key:  college value:  aitam
key:  program value:  python
key:  branch value:  ece

In [32]:
d

{'college': 'aitam', 'program': 'python', 'branch': 'ece'}

In [36]:
d["college"] = "vec"
d

{'college': 'vec', 'program': 'python', 'branch': 'ece'}

In [37]:
d["year"] = 3
d

{'college': 'vec', 'program': 'python', 'branch': 'ece', 'year': 3}

In [40]:
d["yearss"] = 4
d

{'college': 'vec',
 'program': 'python',
 'branch': 'ece',
 'year': 3,
 'yearss': 4}

In [41]:
d["cgpa"] = [7.8,9,8.8]
d

{'college': 'vec',
 'program': 'python',
 'branch': 'ece',
 'year': 3,
 'yearss': 4,
 'cgpa': [7.8, 9, 8.8]}

In [42]:
d[[1,2,3]] = "asdfasd"
d

TypeError: unhashable type: 'list'

In [43]:
d[(1,2,3)] = "adfadf"
d

{'college': 'vec',
 'program': 'python',
 'branch': 'ece',
 'year': 3,
 'yearss': 4,
 'cgpa': [7.8, 9, 8.8],
 (1, 2, 3): 'adfadf'}

In [45]:
d.get("college")

'vec'

In [46]:
d["college"]

'vec'

In [47]:
d["asd"]

KeyError: 'asd'

In [48]:
d.get("asd") # get a particular value by using its key

In [50]:
d.pop("yearss") # delete an item by using its key

4

In [51]:
d

{'college': 'vec',
 'program': 'python',
 'branch': 'ece',
 'year': 3,
 'cgpa': [7.8, 9, 8.8],
 (1, 2, 3): 'adfadf'}

In [52]:
d.popitem()

((1, 2, 3), 'adfadf')

In [53]:
d

{'college': 'vec',
 'program': 'python',
 'branch': 'ece',
 'year': 3,
 'cgpa': [7.8, 9, 8.8]}

In [55]:
d.popitem()

('cgpa', [7.8, 9, 8.8])

In [56]:
d

{'college': 'vec', 'program': 'python', 'branch': 'ece', 'year': 3}

In [57]:
d.pop("branch")

'ece'

In [58]:
d

{'college': 'vec', 'program': 'python', 'year': 3}

In [59]:
d["college"] = "aitam"
d

{'college': 'aitam', 'program': 'python', 'year': 3}

In [69]:
d.update({"k":"v"})

In [70]:
d

{'college': 'aitam', 'program': 'python', 'year': 3, 'k': 'v'}

In [72]:
d.update({"college":"xyz","asdf":34563})
d

{'college': 'xyz', 'program': 'python', 'year': 3, 'k': 'v', 'asdf': 34563}

In [73]:
d2 = {"a":12,"b":34}
d.update(d2)
d

{'college': 'xyz',
 'program': 'python',
 'year': 3,
 'k': 'v',
 'asdf': 34563,
 'a': 12,
 'b': 34}

In [75]:
"python " + "programming"

'python programming'

In [76]:
s1 = input()
s2 = input()
print(s1+s2)

sdfasd
asdf
sdfasd asdf

In [77]:
[1,2,3] +[4,5,6]

[1, 2, 3, 4, 5, 6]

In [80]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [81]:
"python"*3

'pythonpythonpython'

In [83]:
"python"+"3"

'python3'

In [87]:
d = {1 : {"name":"a","roll":3}, 2: {"name":"b","roll":4},
    3: {"name":"c","roll":6}}

In [90]:
d[1]

{'name': 'a', 'roll': 3}

In [91]:
d[1]["name"]

'a'

In [92]:
d[2]["roll"]

4

In [93]:
d[3]["name"]

'c'

In [95]:
# create a list of elements [1,1,2,3,2,6,7]
# output : {1:2, 2:2, 3:1, 6:1, 7:1}

numbers = [1,1,2,3,2,6,7]
counts = {}
for i in numbers: # for i in [1,1,2,3,2,6,7]:
    counts[i] = numbers.count(i)
counts

{1: 2, 2: 2, 3: 1, 6: 1, 7: 1}

In [99]:
for i in counts.items():
    print(i)

(1, 2)
(2, 2)
(3, 1)
(6, 1)
(7, 1)

In [103]:
# print the largest element in a list
x = [1,2,5,89,5,908,34]
m = x[0]
for i in range(1,len(x)):
    if x[i]>m:
        m = x[i]
print(m)

908

In [107]:
x.sort()
x[-1]

908

In [108]:
x[0]

1

In [109]:
# print the smallest element in a list
x = [1,2,5,89,5,908,34] 
m = x[0]
for i in range(1,len(x)):
    if x[i]<m:
        m = x[i]
print(m)

1

In [ ]:
len()
max()
min()
sum()

In [116]:
# print average of all elements in a list
# average = sum_of_elements/no_of_elements
x = [1,2,3,7,56,54,8,9,6,5,5,8,8]
print(sum(x)/len(x))
s = 0
n = 0
for i in x:
    s = s + i
    n = n+1
    
print(s/n)

13.23076923076923
13.23076923076923

In [113]:
max("python"), min("python}")

('y', 'h')

In [114]:
a = [1,2,3]
max(a),min(a),sum(a)

(3, 1, 6)

In [118]:
# write a program to check a year is leap year or not
year = int(input())
if year%4==0:
    print("leap year")
else:
    print("not a leap year")

2019
not a leap year

In [123]:
start_year = int(input())
end_year = int(input())
for y in range(start_year,end_year+1):
    if y%4==0 and (y%100!=0 or y%400==0):
        print(y,end=" ")

1800
1900
1804 1808 1812 1816 1820 1824 1828 1832 1836 1840 1844 1848 1852 1856 1860 1864 1868 1872 1876 1880 1884 1888 1892 1896

## Sets
- represents with {}
- unordered
- immutable
- elements in set are unique ( no duplicates )

In [126]:
# empty set
s = set()
type(s)

set

- x = list() o r x=[]
- d = {} or d = dict()

In [128]:
s = {1,2,1111,11,1,1,1,1,1,4,5,6}
print(s)

{1, 2, 4, 5, 6, 11, 1111}

In [129]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [130]:
s

{1, 2, 4, 5, 6, 11, 1111}

In [133]:
s.add(123)
s

{1, 2, 4, 5, 6, 11, 123, 1111}

In [134]:
s1 = {1,2,3}
s2 = {2,4,9}

In [135]:
s1.union(s2)

{1, 2, 3, 4, 9}

In [136]:
s1.intersection(s2)

{2}

In [137]:
s1-s2

{1, 3}

In [138]:
s2-s1

{4, 9}

In [139]:
s1

{1, 2, 3}

In [140]:
s1.difference(s2)

{1, 3}

In [142]:
s1.difference_update(s2)

In [143]:
s1

{1, 3}

In [144]:
s2.difference_update(s1)

In [145]:
s2

{2, 4, 9}

In [146]:
s1 = {1,2,3}
s2 = {2,4,9}
s1.symmetric_difference(s2)

{1, 3, 4, 9}

In [147]:
s1

{1, 2, 3}

In [148]:
s1.symmetric_difference_update(s2)

In [149]:
s1

{1, 3, 4, 9}

In [151]:
print(s1)
print(s2)

{1, 3, 4, 9}
{9, 2, 4}

In [157]:
s1 = {1,2,3,4,5}
s2 = {1,2}
print(s2.issubset(s1))
print(s1.issuperset(s2))

True
True

In [162]:
s1.isdisjoint(s2)

False

In [168]:
s1 = {1,2,34}
s2 = {5,6}
s1.isdisjoint(s2)

True

In [169]:
print(s1)
s1.pop()
print(s1)

{1, 2, 34}
{2, 34}

In [172]:
s = {1,2,3,4}
print(s)
s.remove(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3}

In [173]:
s.remove(9)

KeyError: 9

In [174]:
s.discard(9)

In [175]:
s1 = {1,2,3}
s2 = {2,4,9}
s1.update(s2)

In [176]:
s1

{1, 2, 3, 4, 9}

### Adding two objects
- str - +
- list - extend()
- dict - update()
- set - update()

S.No | Data Structure | Orderability | Mutability
----- |------------ | ------------ | ---------
1 | List | Yes | Yes
2 | Tuple | Yes | No
3 | Dict | No | Yes
4 | Set | No | Yes

### File Handling
##### Methods
- open(filename, mode(x/r/w))
- read()
- readlines()
- write()
- close()

##### Modes
- read : r
- write : w
- append : a
- read and write : r+
- create : x

In [1]:
open("file1.txt","x")

In [3]:
data = open("myfile.txt","r")
data.read()

'Python Programming\nAditya Institute of technology and management'

In [8]:
data = open("myfile.txt","r")
d = data.readlines()
type(d)
d

['Python Programming\n',
 'Aditya Institute of technology and management\n',
 'asdfasd\n',
 'fasdfasdf\n',
 'asdfasdfasd\n',
 'asdfasdf']

In [9]:
f = open("myfile.txt","w")
f.write("new data")
f.close()

In [10]:
f = open("file2.txt","w")
f.write("this is file 2")
f.close()

In [14]:
f = open("file2.txt","a")
f.write("\nthis is new data")
f.close()

In [15]:
f = open("file2.txt","r")
f.read(3)

'thi'

In [16]:
f.read(3)

's i'

In [17]:
f.read()

's file 2this is new datathis is new datathis is new data\nthis is new data'

In [22]:
# write a program to print the number of words in a file
f = open("file2.txt","r")
data = f.read()
words = data.split()
print(len(words))

17

In [19]:
s = "pythion data files"
s.split("y")

['p', 'thion data files']

In [31]:
# write a program to count of digits in a file
f = open("file2.txt","r")
data = f.read() # pytyhon adfasdfasd 1 2 3 4
count = 0
for char in data:
    if char.isdigit():
        count+=1
        
print(count)

9

In [33]:
# write a program to count the number of characters in a file
f = open("file2.txt","r")
data = f.read()
len(data)

62

In [38]:
# write a program to count the number of special characters in a file

f = open("file2.txt","r")
data = f.read()
count = 0
for i in data:
    if  not (i.isalpha() or i.isdigit() or i==" " or i=="\n"):
        print(i)
        count+=1
print(count)

!
@
#
%
*
(
6

### Comprehensions :  simplest way to create lists/dictionaries

- list
- dictionaries

In [39]:
# list
n = int(input())
x = []
for i in range(n):
    num = int(input())
    x.append(num)
x

5
23
45
67
12
90

[23, 45, 67, 12, 90]

In [44]:

y = [i for i in range(11)]
y

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
y = []
for i in range(10):
    y.append(i)
y

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
evens = []
for i in range(11):
    if i%2==0:
        evens.append(i)
evens

[0, 2, 4, 6, 8, 10]

In [46]:
e = [i for i in range(11) if i%2==0]
e

[0, 2, 4, 6, 8, 10]

In [47]:
# dictionaries
# d = {1:1, 2:4, 3:9, 4:16}
d = {}
for i in range(1,5):
    d[i] = i**2
d

{1: 1, 2: 4, 3: 9, 4: 16}

In [48]:
d = {i:i**2 for i in range(1,5)}
d

{1: 1, 2: 4, 3: 9, 4: 16}